@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 28% 7%;
    --foreground: 0 0% 94%;
    --card: 216 28% 9%;
    --card-foreground: 0 0% 94%;
    --popover: 216 28% 7%;
    --popover-foreground: 0 0% 94%;
    --primary: 187 100% 50%;
    --primary-foreground: 216 28% 7%;
    --secondary: 325 100% 61%;
    --secondary-foreground: 216 28% 7%;
    --muted: 216 28% 12%;
    --muted-foreground: 216 28% 60%;
    --accent: 216 28% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 28% 15%;
    --input: 216 28% 15%;
    --ring: 187 100% 50%;
    --chart-1: 187 100% 50%;
    --chart-2: 325 100% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03) 1px, transparent 1px, transparent 2px),
                repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
    z-index: 1000;
  }
}
